@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* html {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
    overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overscroll-behavior: none;
  overflow-y: scroll;
  
  
} */

html {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow: hidden;
  position: fixed;
  height: 100dvh; /* ✅ Do this! */
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  height: 100dvh; /* ✅ Do this! */
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overscroll-behavior: none;
  
  /* Add padding to account for the Safari toolbar */
}

.content-container {
  min-height: 100vh;
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);
  box-sizing: border-box;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
