@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}




html {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
    overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.7rem;
    max-height: 2rem;
    &-thumb {
      background-color:rgba(255, 255, 255, 0.6);
    }
  }
  }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
